*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    background-color: blue;      
    border: solid;
}
.nav ul{
    margin-left: 20%;
    width: 60%;
    }
    #men a{
        display: none;
    }
    #men a:hover{
        color: #FF8C00;
        border-bottom: solid 2px #FF8C00;
    }
    .nav ul a{
    font-size: 21px;
    margin-left: 3%;
    font-weight: 600;
    text-decoration: none;
    color: wheat;
    }
    .nav ul a:hover{
        color: #FF8C00;
        border-bottom: solid 2px #FF8C00;
    }
    #let{
    padding: 2%;
    border: solid white;
    }
    #let:hover{
        border: solid #FF8C00;
    }
    .nav ul a:nth-child(6){
    margin-left: 15%;
    }
    #logo{
    font-weight: 700;
    font-size: 40px;
    margin-left: 5%;
    font-family: 'Courier New', Courier, monospace
    }
    .nav{
    padding-top: 40px;
    width: auto;
    height: auto;
    display: flex
    }
    #icon{
    width: 55px;
    height: 30px;
    display: none;
    }
    #icon img{
    width: 100%;
    height: 100%;
    }